@charset "utf-8";

* {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  font-size: 10pt;
}

pre, pre *, code, kbd, pre span.keyword, textarea {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  font-size: 10pt;
}

.clearfix:after, .uploadInfoRow:after {
  clear: both;
  content: "";
  display: block;
}

.hide {
  display: none;
}

.uploadInfo {
  width: 32.5em;
}

.uploadInfoRow {
  border: solid 1px #d9d9d9;
  margin: -1px 0 0 0;
}

.uploadInfoRow:nth-of-type(1) {
  margin: 10px 0 0 0;
}

.fileName {
  float: left;
  overflow: hidden;
  padding: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10em;
}

.transferSize {
  float: left;
  padding: 3px;
  text-align: right;
  white-space: nowrap;
  width: 8.5em;
}

.transferStatus {
  float: left;
  padding: 3px;
  width: calc(29em - 18.5em - 20px);
}

.progressBar {
  border: solid 1px #d9d9d9;
  box-sizing: border-box;
  height: 1.2em;
  width: 8.5em;
}

.operation {
  float: left;
}

.stopButton, .deleteButton {
  background-color: #d9534f;
  border-color: #d43f3a;
  border-radius: 3px;
  color: #fff;
  font-size: 9pt;
  padding: 3px;
  line-height: 0.9em;
  margin: 0.15em 0.15em;
}

.stopButton:hover, .stopButton:active,
.deleteButton:hover, .deleteButton:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

.dropArea {
  border: solid 1px transparent;
  height: 60%;
  padding: 5px;
  width: 80%;
}

.dragEnter {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.dragLeave {
  background-color: transparent;
  border-color: transparent;
}
